# vim: ft=yaml

backupninja:
  lookup:
    pkg: backupninja
    action_defaults:
      rsync:
        general:  # defaults
          mountpoint: /mnt/backup
          backupdir: myserver
          format: short
          days: 7
        source:
          from: local  # default
          include:  # default
            - /etc
            - /var/backups/
          exclude:
            - exclude_folder1
            - exclude_folder2
        dest:
          dest: remote  # default
          user: myuser
          id_file: /root/.ssh/id_rsa  # default

  actions:
    10-stop-services.sh:
      stop_services:
        - postfix
        - dovecot
    11-custom.sh: |
      sleep 1  # your shell code here
    12-custom-rsync.sh:  # this is for special cases which won't work otherwise
      rsync:
        command: rsync  # default
        port: 22 # default
        log: /var/log/backup/custom-rsync.log  # default
        truncate_log: False  # default. (Set this to True when no log rotation is present.)
        from: /etc/
        to: user@host:backup
        args: --recursive --times --delete
    13-custom.sh:
      template: salt://backupninja/files/my_custom_template.sh.jinja
      var1: a
      var2: b
    20-all-databases.mysql: {}  # use default config from map.jinja
    20-all-databases.mysql: {}  # use default config from map.jinja
    21-db1_db2.mysql:
      databases: 'db1 db2'
    30-start-services.sh:
      start_services:
        - dovecot
        - postfix
    35-not-needed-any-more.sh: False
    40-transfer.rsync:
      dest:
        host: myhostname
        port: 22
