# vim: ft=yaml

backupninja:
  lookup:
    pkg: backupninja

  actions:
    10-stop-services.sh:
      stop_services:
        - postfix
        - dovecot
    11-custom.sh: |
      sleep 1  # your shell code here
    20-db1.mysql:
      # TODO
    30-start-services.sh:
      start_services:
        - dovecot
        - postfix
    40-transfer.rsync:
      # TODO
