# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'backupninja/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
        'FreeBSD': {
          'configfile': '/usr/local/etc/backupninja.conf',
          'config': {
            'configdirectory': '/usr/local/etc/backup.d',
          },
          'executable': '/usr/local/sbin/backupninja',
        },
  }
  , grain="os_family")
%}

{% set defaults = default_settings.backupninja %}
{% set defaults = salt['defaults.merge'](defaults, os_family_map) %}
{% set defaults = salt['defaults.merge'](defaults, salt['pillar.get']('backupninja:lookup', {})) %}

{% set backupninja = salt['pillar.get']('backupninja') %}
{% set backupninja = salt['defaults.merge'](backupninja, defaults) %}
